<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav class=""navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="d-flex">
            <a href="{{ url_for('list_ops') }}" class="btn btn-primary me-2">List</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary me-2" >Register</a>
          </div>
        </div>
      </nav>
      <h1>{% block mytitle %}{% endblock %}</h1>
      <p>{% block content %}{% endblock %}</p>
      <script src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
    </div>
  </body>
</html>
